<form method="POST">
	<table>
	<tr><td>Nome:</td><td><input name="nome"></td></tr>
	<tr><td>Idade:</td><td><input name="idade"></td></tr>
	<tr><td>Ano de nascimento:</td><td><input name="anonascimento"></td></tr><br><br>
	</table>
	<input type="submit" value="Enviar">
</form>


Usuarios:<br><br>
<iframe frameBorder=0 src="/usuarios"></iframe>
